{% extends 'Admin-Base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    <div class="row">
        <div class="col-12">
            <div class="content-header">
                <h2 class="content-title">Edit Category</h2>
                <div>
                    <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                    <button class="btn btn-md rounded font-sm hover-up" id="edit-category">Edit Category</button>
                </div>
            </div>
        </div>
        <div class="alert" id="alert-success" style="display:none">
            <div class="alert alert-success" id="success"></div>
        </div>
        <div class="alert" id="alert-danger" style="display:none">
            <div class="alert alert-danger" id="danger"></div>
        </div>
        <div class="col-lg-9">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form id="edit_category">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="category_id" class="form-label">Category Id</label>
                            <input type="text" value="{{category.category_id}}" placeholder="Category Id" class="form-control" id="category_id" name="category_id" readonly/>
                        </div>
                        
                        <div class="mb-4">
                            <label for="category_name" class="form-label">Category Name</label>
                            <input type="text" value="{{category.category_name}}" placeholder="Category Name" class="form-control" id="category_name" name="category_name"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3" id="my_div">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h4 class="mt-1">Media</h4>
                </div>
                <div class="card-body">
                    <div class="input-upload">
                        <img src="/{{category.category_img}}" alt="" />
                        <input class="form-control" value="{{category.category_img}}" type="text" id="category_image" name="category_image" hidden/>
                        <input class="form-control" type="file" id="category_img" name="category_img"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} Check category name is empty or not {% endcomment %}
<script>
    document.getElementById('category_name').onkeyup = function() {
    if (this.value.length > 0) {
        document.getElementById('add-category').classList.remove('disabled');
    } else {
        document.getElementById('add-category').classList.add('disabled');
    }
};
</script>
{% endblock %}